:root {
  --bg-main: #131921;
  --main-font-col: #565959;
  --main-border: 1px solid #d5d9d9;
  --main-transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}


/* main button */
.main-button {
  color: var(--bg-main);
  background-color: #ffd814;
  border: 1px solid #fcd200;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 8px;
  text-align: center;
  transition: var(--main-transition);
}
.main-button:hover {
  color: var(--bg-main);
  background-color: #f7ca00;
  border: 1px solid #f2c200;
}
