.cart-page {
  background-color: #eaeded;
  padding: var(--padding-section) 30px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .cart-page {
    padding: var(--padding-section) 10px;
  }
}
@media (max-width: 576px) {
  .cart-page {
    padding: var(--padding-section) 0;
  }
}

/* cart content */
.cart-page .cart-content {
  background-color: var(--color-white);
  padding: 20px 20px 30px;
}
@media (max-width: 576px) {
  .cart-page .cart-content {
    padding: 20px 10px 30px 20px;
    max-width: 100%;
  }
}
.cart-page .cart-content .cart-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.cart-page .cart-content h1 {
  font-size: 28px;
  margin: 0;
}
@media (max-width: 576px) {
  .cart-page .cart-content h1 {
    font-size: 24px;
  }
}
.cart-page .cart-content .target-all-items {
  margin-bottom: 7px;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: #007185;
  transition: var(--main-transition);
}
.cart-page .cart-content .target-all-items:hover {
  color: #c7511f;
  text-decoration: underline;
}

.cart-page .product-cart {
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

/* buying */
.cart-page .product-cart .buying {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .cart-page .product-cart .buying {
    align-items: flex-start;
  }
  .cart-page .product-cart .buying .form-check-inline {
    margin: 0;
  }
}
.cart-page .product-cart .buying input {
  border-width: 2px;
}

/* image */
.cart-page .product-cart .image {
  width: 190px;
  margin-right: 10px;
  height: 220px;
  display: flex;
  align-items: center;
}
.cart-page .product-cart .image img {
  max-height: 220px;
}
@media (max-width: 576px) {
  .cart-page .product-cart .image {
    width: 150px;
    height: 170px;
  }
  .cart-page .product-cart .image img {
    max-height: 170px;
  }
}

/* text */
.cart-page .product-cart .text {
  flex: 1;
}
.cart-page .cart-content .product-cart .title {
  font-size: 23px;
  margin-bottom: 5px;
  font-weight: 400;
}
@media (max-width: 576px) {
  .cart-page .cart-content .product-cart .title {
    font-size: 21px;
  }
}
.cart-page .product-cart .price {
  padding-left: 7px;
}

/* buttons */
.cart-page .action-buts {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.cart-page .action-buts .but-delete,
.cart-page .action-buts .but-love {
  background-color: transparent;
  transition: var(--main-transition);
}
.cart-page .action-buts .but-delete {
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid;
  font-size: 17px;
  font-weight: 500;
  color: #dc3545;
  margin-right: 5px;
  margin-left: 10px;
}
@media (max-width: 576px) {
  .cart-page .action-buts .but-delete {
    padding: 3px 5px;
    margin-left: 7px;
  }
  .cart-page .action-buts .but-love {
    font-size: 30px;
  }
}
.cart-page .action-buts .but-delete:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  color: var(--color-white);
}
.cart-page .action-buts .but-love:hover {
  color: #f44336;
}

/* Quantity Product */
.action-quantity .but-quantity > button {
  width: 100px;
  font-size: 19px;
  margin-right: 10px;
}
@media (max-width: 576px) {
  .action-quantity .but-quantity > button {
    width: 80px;
    font-size: 15px;
    margin-right: 7px;
  }
}
.action-quantity .but-quantity > div.dropdown-menu {
  padding: 0;
  border-radius: 10px;
  width: 60px;
  min-width: 60px;
}
.action-quantity .but-count-product {
  width: 100%;
  height: 28px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  line-height: 1;
  padding: 5px 10px;
}
.action-quantity .but-count-product.checked,
.action-quantity .but-count-product:hover {
  background-color: #0a58ca;
  color: var(--color-white);
}
.action-quantity .add-more {
  border-top: 1px solid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.action-quantity .enter-count input {
  width: 40px;
  padding: 0 5px;
  outline: none;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 0;
  border-color: var(--main-color);
  border-style: solid;
}
.action-quantity .enter-count button {
  margin-right: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* price-target-product */
.price-target-product .price {
  padding-left: 10px;
}

.proceed-to-checkout {
  background-color: var(--color-white);
  padding: 20px 20px 30px;
  font-size: 21px;
  position: sticky;
  top: 10px;
}
@media (max-width: 576px) {
  .proceed-to-checkout {
    max-width: 100%;
  }
}

.proceed-to-checkout .main-button {
  margin-top: 10px;
  width: 100%;
}
