.product-details {
  padding: 30px 0;
}


/* add ratings */
.add-ratings {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid;
}

.add-ratings button:hover,
.add-ratings button.active {
  color: var(--main-color);
}

/* comments */
.comments {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid;
}