.product-page {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

/* category */
.product-page .category {
  margin-bottom: 10px;
  border-bottom: 1px solid;
  padding-bottom: 7px;
}
.product-page .category ul {
  display: flex;
  flex-wrap: wrap;
}
.product-page .category li {
  margin: 0 0 10px 10px;
}
.product-page .category button {
  font-size: 20px;
  padding: 1px 11px;
  line-height: normal;
  border-radius: 20px;
  text-transform: capitalize;
  border: 1.7px solid;
  color: #111;
  transition: var(--main-transition);
}
.product-page .category button:hover,
.product-page .category button.active {
  background-color: var(--hover-color);
  border-color: var(--hover-border);
}

/* products cards */
.products {
  padding: 0 5px;
}
.products .product-item {
  max-width: 230px;
  margin: 0 auto;
}
.products .product-parent {
  padding: 10px;
}
.products .image {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .image img {
  max-height: 250px;
}
.products .info {
  margin-top: 10px;
}
.products .info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.products .title {
  color: #0f1111;
  font-size: 20px;
}

/* price */
.price {
  display: flex;
  color: #111;
}
.price .price-currency {
  font-size: 19px;
  font-weight: 500;
}
.price .price-value {
  font-size: 26px;
  font-weight: 500;
}

