.product-page {
  padding: 20px 0;
}

.product-page .category {
  margin-bottom: 10px;
  border-bottom: 1px solid;
  padding-bottom: 7px;
}
.product-page .category ul {
  display: flex;
}
.product-page .category li {
  margin-right: 10px;
}
.product-page .category button {
  font-size: 20px;
  padding: 1px 11px;
  line-height: normal;
  border-radius: 20px;
  text-transform: capitalize;
  border: 1.7px solid;
  color: #111;
  transition: var(--main-transition);
}
.product-page .category button:hover,
.product-page .category button.active {
  background-color: var(--hover-color);
  border-color: var(--hover-border);
}

.product-page .products {
  padding: 0 5px;
}
.product-page .products .product-parent {
  padding: 10px;
}
.product-page .products .info {
  margin-top: 10px;
}
.product-page .products .info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.product-page .products .title {
  color: #0f1111;
  font-size: 14px;
}

/* price */
.price {
  display: flex;
  color: #111;
}
.price .price-currency {
  font-size: 17px;
  font-weight: 500;
}
.price .price-value {
  font-size: 23px;
  font-weight: 500;
}

