.love-menu .main-menu {
  left: inherit;
  right: -100%;
  flex-direction: row-reverse;
}
.love-menu .main-menu.show-menu {
  right: 0;
}

.love-menu .main-menu .content {
  max-width: 400px;
}

.love-menu .main-menu .close-menu {
  right: inherit;
  left: -35px;
}

/* product love */
.love-menu .product-love {
  border-bottom: 1.5px solid #1111114f;
  padding: 10px 0 7px 5px;
}
.love-menu .product-love .product-content {
  height: 90px;
  align-items: center;
  display: flex;
}

.love-menu .product-love a {
  height: 100%;
}
.love-menu .product-love .image {
  width: 80px;
  height: 90px;
  text-align: center;
}
.love-menu .product-love .image img {
  max-height: 100%;
}

.love-menu .product-love .text {
  flex: 1;
  padding: 3px 10px;
  color: #0f1111;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.love-menu .product-love .title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  width: 100%;
}
.love-menu .product-love .price .price-value {
  font-size: 19px;
}
.love-menu .product-love .but-love {
  margin-right: 15px;
}

.love-menu .product-love .but-go {
  font-size: 20px;
  width: 40px;
  height: 100%;
  background-color: transparent;
  border: 1.2px solid var(--border-color);
  color: var(--main-color);
  transition: var(--main-transition);
}
.love-menu .product-love a:hover .but-go,
.love-menu .product-love a:hover + .text + a .but-go {
  background-color: var(--main-color);
  border-color: var(--hover-color);
  color: var(--color-white);
}

/* button love */
.but-love {
  border: none;
  font-size: 27px;
  background-color: transparent;
  color: #565959;
  transition: var(--main-transition);
  line-height: 1;
}
.but-love:hover,
.but-love.active {
  color: #f44336;
}
