
.menu-links .content .links {
  display: flex;
  flex-direction: column;
}
.menu-links .content .links a {
  color: #111;
  width: 100%;
  border-bottom: 1px solid #d5dbdb;
  padding: 12px;
}
.menu-links .content .links .dropdown {
  width: 100%;
}
.menu-links .content .links .dropdown ul {
  width: 100%;
  padding: 0;
  border: 0;
}
