.main-navbar {
  background-color: var(--bg-main) !important;
  color: #fff;
  height: 60px;
  padding: 0;
}

.logo {
  color: #fff;
}
.logo:focus,
.logo:hover {
  color: #fff;
}

/* button country */
.but-country {
  width: 90px;
  cursor: pointer;
}
.but-country svg {
  margin: 13px 7px 0 0;
  font-size: 15px;
}

/* main link */
.main-link span {
  font-size: 12px;
  font-weight: 400;
  color: #ccc;
  line-height: 14px;
}
.main-link span:last-child {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 15px;
}

/* search */
.search {
  border-radius: 10px;
  overflow: hidden;
  height: 40px;
  flex: 1;
}
.search .search-input {
  border-radius: 0;
  font-size: 16px;
}
.search .but-search {
  border-radius: 0;
  background-color: #febd69;
  width: 45px;
  border: 0;
  color: var(--bg-main);
  transition: 0.3s;
}
.search .but-search:hover {
  background-color: #f3a847;
}

/* nav-right */
.nav-right {
  margin-left: 8px;
}
.nav-right .right-link,
.nav-right .right-link > a {
  color: #fff;
  font-size: 14px;
}

/* cart link */
.cart-link {
  display: flex;
  align-items: center;
  width: 80px;
}
.cart-icon-container {
  position: relative;
  flex: 1;
  height: 35px;
}
.cart-icon-container .cart-icon {
  position: absolute;
  font-size: 29px;
  bottom: 0;
  left: 0;
}
.cart-icon-container .cart-count {
  position: absolute;
  top: -7.5px;
  left: 50%;
  width: 20px;
  text-align: center;
  line-height: 2;
  background-color: var(--bg-main);
  height: 27px;
  border-radius: 7px;
  transform: translateX(-50%);
  z-index: 5;
  color: #f08804;
  font-size: 15px;
  font-weight: 700;
}

.cart-text {
  font-size: 14px;
  font-weight: 600;
  padding-top: 13px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

